<%= form_for(network_checksum) do |f| %>
  <% if network_checksum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(network_checksum.errors.count, "error") %> prohibited this network_checksum from being saved:</h2>

      <ul>
      <% network_checksum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>

  <div class="field">
    <%= f.label :bits %>
    <%= f.text_field :bits %>
  </div>

  <div class="field">
    <%= f.label :hex %>
    <%= f.text_field :hex %>
  </div>

  <div class="field">
    <%= f.label :type_id %>
    <%= f.number_field :type_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
