<%= form_for(network_checksum_type) do |f| %>
  <% if network_checksum_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(network_checksum_type.errors.count, "error") %> prohibited this network_checksum_type from being saved:</h2>

      <ul>
      <% network_checksum_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :bits %>
    <%= f.number_field :bits %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
