<p id="notice"><%= notice %></p>

<h1>Content Html Documents</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Links count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @content_html_documents.each do |content_html_document| %>
      <tr>
        <td><%= content_html_document.title %></td>
        <td><%= content_html_document.links_count %></td>
        <td><%= link_to 'Show', content_html_document %></td>
        <td><%= link_to 'Edit', edit_content_html_document_path(content_html_document) %></td>
        <td><%= link_to 'Destroy', content_html_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content Html Document', new_content_html_document_path %>
